@charset "UTF-8";

#underline{
	border-bottom: 4px solid black;
}
#searchbar{
	max-width: 220px;
	min-width: 220px;
	margin-left: 650px;
}
.div-select{
	margin-left:880px;
	margin-top:-40px;
	max-width:150px;
	min-width:150px;
}
.multiselect{
	width:200px;
}
.selectBox{
	position: relative;
}
.selectBox select{
	width: 100%;
	font-weight: bold;
}
.overSelect{
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
}
#checkboxes{
	display: none;
	border: 1px #dadada solid;	
}
#checkboxes label{
	display: block;
}
#checkboxes label:hover{
	background-color: #1e90ff;
}
